*,
*:before,
*::after {
  box-sizing: border-box;
}
:root {
  --hue: 200;
  --saturation: 50%;
  --foreground-color: hsl(var(--hue), var(--saturation), 75%);
  --background-color: hsl(var(--hue), var(--saturation), 20%);
}
body {
  margin: 0;
  background-color: var(--background-color);
  overflow: hidden;
}

.paddle {
  --position: 50;
  position: absolute;
  top: calc(var(--position) * 1vh);
  transform: translateY(-50%);
  height: 10vh;
  width: 1vh;
  background-color: var(--foreground-color);
}
.paddle.left {
  left: 1vh;
}
.paddle.right {
  right: 1vh;
}

.ball {
  --x: 50;
  --y: 50;
  position: absolute;
  left: calc(var(--x) * 1vw);
  top: calc(var(--y) * 1vh);
  transform: translate(-50%, -50%);
  height: 2.5vh;
  width: 2.5vh;
  border-radius: 50%;
  background-color: var(--foreground-color);
}

.score {
  display: flex;
  align-items: center;
  color: var(--foreground-color);
  font-weight: bold;
  font-size: 7vh;
}
.score > * {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0 2vh;
  margin: 1vh 0;
  opacity: 0.5;
}
.score > :first-child {
  border-right: 1px solid var(--foreground-color);
  text-align: right;
}
